image: Visual Studio 2017


before_build:
  - ps: cd commercetools.Sdk
  - ps: dotnet restore
  - ps: dotnet user-secrets set "Client:ClientId" $env:CTP_CLIENT_ID --project commercetools.Sdk.HttpApi.IntegrationTests >$null 2>&1
  - ps: dotnet user-secrets set "Client:ClientSecret" $env:CTP_CLIENT_SECRET --project commercetools.Sdk.HttpApi.IntegrationTests >$null 2>&1
  - ps: dotnet user-secrets set "Client:Scope" $env:CTP_CLIENT_SCOPE --project commercetools.Sdk.HttpApi.IntegrationTests >$null 2>&1
  - ps: dotnet user-secrets set "Client:ProjectKey" $env:CTP_PROJECTKEY --project commercetools.Sdk.HttpApi.IntegrationTests >$null 2>&1

build_script:
  - ps: dotnet build -c Release

after_build:
  - ps: dotnet pack -c Release -o ../pack/

test_script:
  - ps: dotnet test Tests --no-build -c Release
  - ps: dotnet test commercetools.Sdk.HttpApi.IntegrationTests --no-build -c Release

artifacts:
- path: /**/*.nupkg
  name: NuGet Package

version: 1.0.0.{build}
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'


deploy:
  - provider: NuGet
    server: https://www.myget.org/F/commercetools-dotnet-core-sdk/api/v2/package
    api_key:
      secure: sLfpoizqShKpK/JdBg/ECoQ9O/DLhrocq3pAIcWWMjRRsi8HaFUPMWPfUmX+qgsy
    skip_symbols: true
    on:
      branch: master
