image: Visual Studio 2017


before_build:
  - ps: .\set_appveyor_version.ps1
  - ps: cd commercetools.Sdk
  - ps: dotnet restore
  - ps: dotnet user-secrets set "Client:ClientId" $env:CTP_CLIENT_ID --project commercetools.Sdk.HttpApi.IntegrationTests >$null 2>&1
  - ps: dotnet user-secrets set "Client:ClientSecret" $env:CTP_CLIENT_SECRET --project commercetools.Sdk.HttpApi.IntegrationTests >$null 2>&1
  - ps: dotnet user-secrets set "Client:Scope" $env:CTP_CLIENT_SCOPE --project commercetools.Sdk.HttpApi.IntegrationTests >$null 2>&1
  - ps: dotnet user-secrets set "Client:ProjectKey" $env:CTP_PROJECTKEY --project commercetools.Sdk.HttpApi.IntegrationTests >$null 2>&1
  - ps: dotnet user-secrets set "TokenClient:ClientId" $env:CTP_CLIENT_ID --project commercetools.Sdk.HttpApi.IntegrationTests >$null 2>&1
  - ps: dotnet user-secrets set "TokenClient:ClientSecret" $env:CTP_CLIENT_SECRET --project commercetools.Sdk.HttpApi.IntegrationTests >$null 2>&1
  - ps: dotnet user-secrets set "TokenClient:Scope" $env:CTP_CLIENT_SCOPE --project commercetools.Sdk.HttpApi.IntegrationTests >$null 2>&1
  - ps: dotnet user-secrets set "TokenClient:ProjectKey" $env:CTP_PROJECTKEY --project commercetools.Sdk.HttpApi.IntegrationTests >$null 2>&1
  - ps: dotnet user-secrets set "TokenClientWithSmallerScope:ClientId" $env:CTP_CLIENT_ID --project commercetools.Sdk.HttpApi.IntegrationTests >$null 2>&1
  - ps: dotnet user-secrets set "TokenClientWithSmallerScope:ClientSecret" $env:CTP_CLIENT_SECRET --project commercetools.Sdk.HttpApi.IntegrationTests >$null 2>&1
  - ps: dotnet user-secrets set "TokenClientWithSmallerScope:Scope" $env:CTP_CLIENT_SCOPE --project commercetools.Sdk.HttpApi.IntegrationTests >$null 2>&1
  - ps: dotnet user-secrets set "TokenClientWithSmallerScope:ProjectKey" $env:CTP_PROJECTKEY --project commercetools.Sdk.HttpApi.IntegrationTests >$null 2>&1
  - ps: dotnet user-secrets set "TokenClientWithAnonymousScope:ClientId" $env:CTP_CLIENT_ID --project commercetools.Sdk.HttpApi.IntegrationTests >$null 2>&1
  - ps: dotnet user-secrets set "TokenClientWithAnonymousScope:ClientSecret" $env:CTP_CLIENT_SECRET --project commercetools.Sdk.HttpApi.IntegrationTests >$null 2>&1
  - ps: dotnet user-secrets set "TokenClientWithAnonymousScope:Scope" $env:CTP_CLIENT_SCOPE --project commercetools.Sdk.HttpApi.IntegrationTests >$null 2>&1
  - ps: dotnet user-secrets set "TokenClientWithAnonymousScope:ProjectKey" $env:CTP_PROJECTKEY --project commercetools.Sdk.HttpApi.IntegrationTests >$null 2>&1

build_script:
  - ps: dotnet build -c Release

after_build:
  - ps: dotnet pack -c Release -o ../pack/

test_script:
  - ps: dotnet test Tests --no-build -c Release
  - ps: dotnet test commercetools.Sdk.HttpApi.IntegrationTests --no-build -c Release

artifacts:
- path: /**/*.nupkg
  name: NuGet Package

version: 1.0.0.{build}
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{appveyor_build_version}'
  package_version: '{appveyor_build_version}'
  assembly_version: '{appveyor_build_version}'
  file_version: '{appveyor_build_version}'
  informational_version: '{appveyor_build_version}'


deploy:
  - provider: NuGet
    server: https://www.myget.org/F/commercetools-dotnet-core-sdk/api/v2/package
    api_key:
      secure: +Pfl0dfkKW+5dZY/6vRFGLhE3pOd3xMTz1v7ARA8hgrtUVwnl4BdnW1hHTg1df+d
    skip_symbols: true
    on:
      branch: master
