<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Custom Rule Set" Description="Custom Rule Set" ToolsVersion="14.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1200" Action="None" />
	<Rule Id="SA1300" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1652" Action="None" />
    <Rule Id="SA1101" Action="None" />
  </Rules>
</RuleSet>
