<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="commercetools.OAuthUrl" value="https://auth.sphere.io/oauth/token"/>
    <add key="commercetools.ApiUrl" value="https://api.sphere.io"/>
    <add key="commercetools.ProjectKey" value="falcon-demo-data-73"/>
    <add key="commercetools.ClientSecret" value="sh-C43VRGM7ErstQZazb2HmxGceKeRkA"/>
    <add key="commercetools.ClientID" value="CWxp7G7e644_7KnK_xtE6ZpE"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="commercetools.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>