@model List<Product>
@{
    ViewData["Title"] = "Products";
}
<div class="text-center">
    <h1 class="display-4">Products</h1>
    
    @* Listing Products *@
    <div id="div-Products">
        <table class="table">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            @if (Model != null && Model.Count > 0)
            {
                var langKey = Model[0].MasterData.Current.Name.Keys.FirstOrDefault();
                if (langKey != null)
                {
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td> @product.MasterData.Current.Name[langKey]</td>
                            <td> @product.MasterData.Current.Description?[langKey]</td>
                        </tr>
                    }
                }
            }
            else
            {
                <tr>
                    <td colspan="2">
                        There are no products available for listing 
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>